.box-section .box{
    border-radius: 30px;
    padding: 10px;
    width: 660px;
}
.box-section .box a{
    text-decoration: none;
}

.box-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; 
  }
  
  .box {
    width: 48%;     
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
  }

  .box img {
    max-width: 160px;
    height: auto;
  }
 
  @media (max-width: 768px) {
    .box {
      width: 100%; 
      flex-direction: column;
    }
  
    .box img {
      max-width: 120px;
      margin-top: 20px;
    }
  
    .box div div {
      margin-top: 40px !important;
    }
  }
  