.links a {
  color: white;
}
.box {
  background-color: #191a23;
}
.email-input::placeholder {
  color: white !important;
}

.footer-bg {
  background-color: #191a23;
  border-radius: 30px 30px 0 0;
}

.footer-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-icon {
  font-size: 1.4rem;
  cursor: pointer;
}
.footer-icon:hover {
  color: #b9ff66;
}

.footer-box .right {
  background-color: #2c2d33;
  border-radius: 30px;
}

.email-input {
  background: transparent !important;
  border: 1px solid #ccc !important;
  color: white !important;
  border-radius: 12px !important;
  width: 260px;
  margin-right: 70px;
}

.contact-btn {
  background-color: #b9ff66;
  color: black;
  border-radius: 8px;
  padding: 8px 20px;
  font-weight: 600;
}

.subscribe-btn {
  background-color: #b9ff66;
  color: black;
  border-radius: 12px;
  padding: 12px 20px;
  font-weight: 600;
  margin-right: 100px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .email-input {
    width: 100% !important;
  }

  .subscribe-btn {
    width: 100%;
  }

  .footer-box {
    text-align: center;
  }
}
